.warning-filter {
  padding: 0 8px;

  & label {
    font-size: 1.5rem;
  }

  & .ant-divider.ant-divider-horizontal {
    margin: 16px 0 0 0;
  }

  & .ant-row.ant-form-item {
    margin-bottom: 0.5rem;

    &:last-child {
      & .ant-form-item-control-input-content {
        display: flex;
        justify-content: flex-end;

        & button:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }
  }

  & span.ant-slider-mark-text {
    width: 100%;
  }
}
